@using BTLWeb.Common.Session
@using BTLWeb.Controllers
@using BTLWeb.Models.Dao
@{
    Layout = "_Default.cshtml";
}
<div class="header__top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="header__top__left">
                    <ul>
                        <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                        <li>Free Shipping for all Order of $99</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="header__top__right">
                    <div class="header__top__right__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    </div>
                    <div class="header__top__right__language">
                        <img src="img/language.png" alt="">
                        <div>English</div>
                        <span class="arrow_carrot-down"></span>
                        <ul>
                            <li><a href="#">Spanis</a></li>
                            <li><a href="#">English</a></li>
                        </ul>
                    </div>
                    <div class="header__top__right__language">
                        @{
                            var user = (UserSession) Session[Constant.USER_SESSION];
                        }
                        @if (Session[Constant.USER_SESSION] == null)
                        {
                            <a href="@Url.Action("Index", "Login", new {Area = "Admin"})"><i class="fa fa-user"></i> Login</a>
                        }
                        else
                        {
                            <a href=""><i class="fa fa-user"></i> Xin chào @user.UserName</a>
                            <span class="arrow_carrot-down"></span>
                            <ul>
                                <li><a href="@Url.Action("LogOut", "Login", new {Area = "Admin"})">LogOut</a></li>
                                <li><a href="@Url.Action("Details", "User", new {id = @user.UserName})">Profile</a></li>
                                <li><a href="@Url.Action("Orders", "User", new {id = @user.UserName})">Orders</a></li>
                            </ul>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="header__logo">
                <a href="./index.html"><img src="~/Assets/custom/img/logo.png" alt=""></a>
            </div>
        </div>
        <div class="col-lg-6">
            <nav class="header__menu">
                <ul>
                    <li class="active"><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li><a href="./shop-grid.html">Shop</a></li>
                    <li>
                        <a href="#">Pages</a>
                        <ul class="header__menu__dropdown">
                            <li><a href="./shop-details.html">Shop Details</a></li>
                            <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                            <li><a href="./checkout.html">Check Out</a></li>
                            <li><a href="./blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li><a href="./blog.html">Blog</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3">
            @{Html.RenderAction("HeaderCart", "Home");}
        </div>
    </div>
    <div class="humberger__open">
        <i class="fa fa-bars"></i>
    </div>
</div>
