@using System.Collections.Specialized
@using BTLWeb.Common.Session
@model List<BTLWeb.Models.Dao.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Default.cshtml";
}

<script src="~/Content/cartController.js"></script>
<@RenderPage("../Shared/_Header.cshtml")
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                @if (Model.Count > 0)
                {
                    double count = 0;
                    var user = (UserSession) Session[Constant.USER_SESSION];

                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                            <tr>
                                <th class="shoping__product">Products</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            @{

                                foreach (var item in Model)
                                {

                                    <tr>
                                        <td class="shoping__cart__item">
                                            <img src="@Url.Content("../../Content/img/products/" + item.Product.Image)" alt="" style="width: 70px; height: 70px;">
                                            <h5>@item.Product.Name</h5>
                                        </td>
                                        <td class="shoping__cart__price">
                                            $@item.Product.UnitPrice
                                        </td>
                                        <td class="shoping__cart__quantity">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input type="text" value="@item.Quantity" data-id="@item.Product.Id" class="quantities">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="shoping__cart__total" id="@item.Product.Id">
                                            $@(item.Quantity * item.Product.UnitPrice)
                                        </td>
                                        <td class="shoping__cart__item__close">
                                            <span class="icon_close" data-id ="@item.Product.Id"></span>
                                        </td>
                                    </tr>
                                    count += @item.Quantity * @item.Product.UnitPrice;
                                }
                            }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="shoping__cart__btns">
                                <a id="btnCountinue" href="@Url.Action("Index", "Home")" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                                <a id="btnUpdateCart" href="#" class="primary-btn cart-btn cart-btn-right"><span class="icon_loading"></span>
                                    Upadate Cart</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="shoping__continue">
                                <div class="shoping__discount">
                                    <h5>Discount Codes</h5>
                                    <form action="#">
                                        <input type="text" placeholder="Enter your coupon code">
                                        <button type="submit" class="site-btn">APPLY COUPON</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="shoping__checkout">
                                <h5>Cart Total</h5>
                                <ul>
                                    <li>Total <span>$@count</span></li>
                                </ul>

                                @if (Session[Constant.USER_SESSION] == null)
                                {
                                    <a href="" class="primary-btn" data-toggle="modal" data-target="#exampleModal">PROCEED TO CHECKOUT</a>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Title</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    You must login
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <a href="@Url.Action("Index", "Login", new { Area = "Admin"})" class="btn btn-primary">Login</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <a href="@Url.Action("Index","Order")" class="primary-btn">PROCEED TO CHECKOUT</a>
                                }

                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div>
                        <span> Bạn chưa mua sản phẩm nào</span>
                    </div>
                    <div class="col-lg-12">
                        <div class="shoping__cart__btns">
                            <a id="btnCountinue" href="@Url.Action("Index","Home")" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                        </div>
                    </div>
                }
            </div>
        </div>
        
    </div>
    </section>
<!-- Shoping Cart Section End -->
<@RenderPage("../Shared/_Footer.cshtml")
<script>
    $(function () {
        // Xóa khỏi giỏ
        $(".icon_close").click(function () {
            pid = $(this).attr("data-id");
            tr = $(this).parents("tr");// tim <tr> chua <img> bi click
            $.ajax({
                url: '@Url.Action("Remove", "Cart")',
                type: "POST",
                data: { id: pid },
                success: function (res) {
                    if (res.status == true) {
                        window.location.href = "/Cart";
                    }
                }
            });
        });
    });
</script>
<script>
    $(function () {
        // Update
        $("#btnUpdateCart").click(function () {
            var list = $('quantities');
            var cartList = [];
            $.each(list,
                function(i, item) {
                    cartList.push({
                        Quantity: $(item).val(),
                        Product: {
                            Id: $(item).data('id')
                        }
                    });
                });
            $.ajax({
                url: '@Url.Action("Update", "Cart")',
                dataType: 'json',
                type: "POST",
                data: { cartModel: JSON.stringify(cartList)},
                success: function (res) {
                    if (res.status == true) {
                        window.location.href = "/Cart";
                    }
                }
            });
        });
    });
</script>